<!-- 我们的优势 -->
<div class="index-row our-whyus" id="advantage">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 main-title">
                <h2 class="h1">我们的优势</h2>

                <p class="line line-big"></p>

                <h2>
                    <small>每一份签证申请都是独立个案，每一位申请人都应该被认真对待。</small>
                </h2>
            </div>
            <div class="col-sm-3">
                <div class="our-whyus-item">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>

                    <h3 class="title">十一年美签经验</h3>

                    <p>2006年开始办理美国签证至今，积累了丰富的首签和拒签再签实用经验。</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="our-whyus-item">
                    <span style="font-size: 80px;" class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>

                    <h3 class="title">一对一精准定制</h3>

                    <p>每一位申请人都是独立的签证个案，我们从签证原理开始，为您定制最优方案。</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="our-whyus-item">
                    <span style="font-size: 80px;" class="glyphicon glyphicon-refresh" aria-hidden="true"></span>

                    <h3 class="title">高效率即时响应</h3>

                    <p>遇到任何疑问，您都会在第一时间得到我们的正面回应，并进行相关处理。</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="our-whyus-item">
                    <span style="font-size: 80px;" class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>

                    <h3 class="title">精益求精的态度</h3>

                    <p>死磕完美材料，对签证申请流程中的细节一丝不苟，力争最高通过率。</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 我们的优势 -->