<section id="advantage">
<div class="inTimeContainerMainNew">
            <ul>
                <li>
                    <i class="pull-left"></i>
                    <div class="productDetail">
                        <p>信用贷款</p>
                        <label>无抵押/无担保</label>
                    </div>
                    <span style="margin-left: 13px;"><img src="../images/home/toDown.png" alt=""></span>
                </li>
                <li>
                    <i style="background-position: -235px 0;" class="pull-left"></i>
                    <div class="productDetail">
                        <p>额度可观</p>
                        <label>最高可贷100万</label>
                    </div>
                    <span style="margin-left: 13px;"><img src="../images/home/toDown.png" alt=""></span>
                </li>
                <li>
                    <i style="background-position: -470px 0;" class="pull-left"></i>
                    <div class="productDetail">
                        <p>极速到账</p>
                        <label>最快1小时到账</label>
                    </div>
                    <span style="margin-left: 13px;"><img src="../images/home/toDown.png" alt=""></span>
                </li>
                <li>
                    <i style="background-position: -722px 0;" class="pull-left"></i>
                    <div class="productDetail">
                        <p>价格合理</p>
                        <label>日利率0.023%起</label>
                    </div>
                    <span style="margin-left: 14px;"><img src="../images/home/toDown.png" alt=""></span>
                </li>
                <li>
                    <i style="background-position: -945px 0;" class="pull-left"></i>
                    <div class="productDetail">
                        <p>安全可信</p>
                        <label>系统审核,高效安全</label>
                    </div>
                </li>
            </ul>
        </div>

    </section>