<section id="download" class="download-area section section-bg text-center">
    <div content="container">
        <!--|Section Header|-->
        <header class="section-header">
            <div class="row">
                <div class="col-md-12 block-center wow flipInX" data-wow-delay=".15s"
                     style="visibility: visible; animation-delay: 0.15s; animation-name: flipInX;">
                    <h2 class="section-title">Download the App</h2>
                    <p>Forget all the back and forth texting and just go on a date already!</p>
                </div>
            </div>
        </header> <!--|End Section Header|-->

        <div class="row">
            <div class="col-md-12 block-center">
                <div class="download-buttons wow fadeInUp" data-wow-delay=".2s"
                     style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <a class="download-btn" href="https://itunes.apple.com/app/id964735828?mt=8" target="_blank"><img
                            src="../img/app_store_btn.png" alt="App Store"></a>
                    <img src="../img/play_store_btn.png" alt="Play Store">
                </div>

                <div class="phone-image wow fadeInUp" data-wow-delay=".25s"
                     style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">
                    <img src="/static/lp/images/iphone4.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>