<section class="bg-warning" id="download">
    <div class="container">
        <div class="section-heading scrollpoint sp-effect3 text-info">
            <h1 class="text-primary " style="color: black">下载商户通</h1>
        </div>

        <div class="col-lg-8 col-md-4 col-sm-12">
            <div class="section-heading scrollpoint sp-effect3">
                <p class="text-left text-primary" style="color: black">
                    商户通App同时支持苹果手机和安卓手机，
                    <br>
                    您可以直接在苹果AppStore和腾讯应用宝市场下载。
                </p>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <a href="https://itunes.apple.com/cn/app/%E6%95%B0%E5%96%86%E5%95%86%E6%88%B7%E9%80%9A/id1297898719?mt=8">
                        <img src="img/homepage/appstore2.png"
                             class="img-responsive scrollpoint sp-effect5" alt=""></a>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <a href="https://sj.qq.com/myapp/detail.htm?apkName=com.adas.shyd">
                        <img src="img/homepage/yingyongbao.png"
                             class="img-responsive scrollpoint sp-effect5" alt=""></a>
                </div>

            </div>
            <div class="section-heading scrollpoint sp-effect3">
                <p class="text-left text-primary" style="color: black">
                    <br>您也可以通过关注微信公众号下载。
                    <br>现在扫码关注，有福利等着你哦！</p>
            </div>


        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <a href="#download">
                <img src="img/homepage/iphone_sht_wechat.png"
                     class="img-responsive scrollpoint sp-effect5" alt=""></a>
        </div>


    </div>
</section>