<!-- 全屏轮播图 -->
<div id="fresh_sale" class="carousel slide my-slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a target="_blank" href="#download">
                <img src="static/images/adas/banner.png" alt="">
            </a>
        </div>
        <div class="item">
            <a target="_blank" href="#download">
                <img src="static/images/adas/banner2.png" alt="">
                <div class="carousel-caption">
                    <h1 style="font-style:normal;color: black;">数喆商户通</h1>
                    <p><br></p>
                    <h2 style="font-style:normal;color: black;">帮助每一个小微企业解决资金短缺的问题</h2>
                    <p><br></p>
                    <p><br></p>
                    <p><br></p>
                    <p><br></p>
                    <p><br></p>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- 全屏轮播图 -->
