<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://mp.weixin.qq.com/s?__biz=MzU0NjkzNjg2Nw==&mid=100000006&idx=1&sn=fe487c361f2c14ec0468541520191ba2&chksm=7b57404a4c20c95cb00dfd40429743b4d3d09b6c5bcc82c6326d6b9696e858f0f9b7496a1c86&scene=18#wechat_redirect"
                   class="portfolio-box">
                    <!--<img src="../img/wechat.png" class="img-responsive" alt="">-->
                    <img class="img-responsive center-block" src="../img/wechat.png"/>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                关注微信公众号
                            </div>
                            <div class="project-category text-faded">
                                获取更多服务
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://sj.qq.com/myapp/detail.htm?apkName=com.adas.shyd"
                   class="portfolio-box">
                    <!--<img src="../img/wechat.png" class="img-responsive" alt="">-->
                    <img class="img-responsive center-block" src="../img/yingyongbao.png"/>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                下载安卓版商户通
                            </div>
                            <div class="project-category text-faded">

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://sj.qq.com/myapp/detail.htm?apkName=com.adas.shyd"
                   class="portfolio-box">
                    <!--<img src="../img/wechat.png" class="img-responsive" alt="">-->
                    <img class="img-responsive center-block" src="../img/ios.png"/>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                下载苹果版商户通
                            </div>
                            <div class="project-category text-faded">

                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
