<!-- 我们的产品-数喆商户通 -->
<section id="product">
    <div class="container">
        <div id="fh5co-features-2" data-section="design" class="animated">
            <div class="fh5co-features-2-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 fh5co-section-heading text-center">
                            <h1 class="fh5co-lead to-animate fadeIn animated">数喆商户通</h1>
                            <h1 class="fh5co-lead to-animate fadeIn animated">
                                <small>您身边的小微金融服务专家</small>
                            </h1>


                        </div>
                        <div class="col-md-4 fh5co-text-wrap">
                            <div class="row text-center">
                                <div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 fh5co-text animate-object features-2-animate-3 fadeInRight animated">
                                    <div class="service-box">
                                        <i class="fa fa-4x fa-smile-o wow bounceIn text-primary"></i>
                                        <h4>门槛低、纯信用、无抵押无担保</h4>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 fh5co-text animate-object features-2-animate-4 fadeInRight animated">
                                    <div class="service-box">
                                        <i class="fa fa-4x fa-arrow-circle-up wow bounceIn text-primary"
                                           data-wow-delay=".3s"></i>
                                        <h4>额度高、最高可贷100万</h4>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-push-4 fh5co-text-wrap">
                            <div class="row text-center">
                                <div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 fh5co-text animate-object features-2-animate-5 fadeInLeft animated">
                                    <div class="service-box">
                                        <i class="fa fa-4x  fa-arrow-circle-down wow bounceIn text-primary"
                                           data-wow-delay=".3s"></i>
                                        <h4>利率低、借1万每天只要2元</h4>
                                    </div>
                                </div>


                                <div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 fh5co-text animate-object features-2-animate-6 fadeInLeft animated">
                                    <i class="fa fa-4x  fa-dollar  wow text-primary"></i></span>
                                    <h4>还款灵活，随借随还、先息后本</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-pull-4 fh5co-image animate-object features-2-animate-2 fadeInUp animated">
                            <p class="text-center"><img src="static/images/adas/iphone_sht.png" class=""
                                                        alt="Main Screen WhisperMe Whisper Challenge Game"></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
