<section class="btn-default" id="product">
    <div class="container">

        <div class="row">
            <div class="col-md-6  download-buttons wow fadeInUp center-block" data-wow-delay=".2s"
                 style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" data-wow-delay=".1s">商户通简介</h2>
                    <hr class="primary">
                </div>
                <div class="p-xs-b-6 p-md-y-6 p-lg-x-8">
                    <p class="m-xs-b-4">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;商户通是上海数喆数据科技有限公司与合作银行共同推出的针对小微商户量身定制的纯信用贷款产品。

                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;旨在解决小微企业的生产、经营性资金周转需求，适用于从事商贸、服务、生产制造行业的小微企业。</p>

                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目前暂支持成都市、苏州市、上海市和北京市的小微经营企业，新的合作城市正在陆续开拓中……
                    </p>
                </div>
            </div>

            <div class="col-md-6  download-buttons wow fadeInUp center-block" data-wow-delay=".2s"
                 style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" data-wow-delay=".3s">申请资格</h2>
                    <hr class="primary">
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-address-card-o wow bounceIn text-primary"></i>
                        <h4>有营业执照且经营满2年</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-user-circle-o wow bounceIn text-primary"></i>
                        <h4>年龄25~55周岁</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-hotel wow bounceIn text-primary"></i>
                        <h4>在经营地有稳定住所</h4>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

<section class="ansi-inverse" id="product">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" data-wow-delay=".3s">产品优势</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-smile-o wow bounceIn text-primary"></i>
                    <h3>门槛低</h3>
                    <p class="text-muted">纯信用、无抵押、无担保</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-arrow-circle-up wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>额度高</h3>
                    <p class="text-muted">最高可贷100万</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x  fa-arrow-down wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>利率低</h3>
                    <p class="text-muted">借1万每天只要2元</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>还款活</h3>
                    <p class="text-muted">随借随还、先息后本、不用不花钱</p></div>
            </div>
        </div>
    </div>

</section>


<section class="bg-warning" id="product">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" data-wow-delay=".3s">简单三步，轻松放款</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-5x fa-mobile wow bounceIn text-primary"></i>
                    <h3>第一步</h3>
                    <p class="text-muted">下载APP，提交贷款申请</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-5x fa-arrow-circle-right wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>第二步</h3>
                    <p class="text-muted">数喆审核，推送银行</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-5x  fa-university wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>第三步</h3>
                    <p class="text-muted">银行审核，通过放款</p>
                </div>
            </div>
        </div>
    </div>

</section>




















