<div class="scrollsidebar" id="scrollsidebar" style="top: 1815px;">
  <div class="side_content" style="width: 0px;">
    <div class="side_list">
      <div class="side_title"><a title="隐藏" class="close_btn"><span>关闭</span></a></div>
      <div class="side_center">
        <div class="custom_service">
          <p> <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2424271541&amp;site=qq&amp;menu=yes"><img border="0" src="images/button_11.gif" alt="点击这里给我发消息" title="点击这里给我发消息"></a> </p>
        </div>
        <div class="other">
          <p>
          合作洽谈QQ：<br>
          2424271541<br>
          合作洽谈微信：<br>
          <img src="images/qrcode.png" width="100" style="margin-top: 5px;"></p>
          <p>客户服务热线<br>028-67871837<br>18780265515</p>
        </div>
      </div>
      <div class="side_bottom"></div>
    </div>
  </div>
  <div class="show_btn" style="width: 25px;"><span>在线客服</span></div>
</div>