<section class="bg-primary" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">专家云集的小微团队</h2>
                <hr class="light">
                <p class="text-faded">数喆商户通由大数据、数理经济、小微金融领域内的著名学者甘犁教授、田国强教授、艾春荣教授和谭继军教授领衔， 专注小微企业的建设与研究</p>

                <div class="call-to-action">
                    <a href="https://www.adas.com/Html/AboutUs" class="btn btn-default btn-xl wow tada">团队详情</a>
                </div>
                 <p><br></p>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="img-responsive thumbnail">
                    <img src="../img/team/ganli.jpg"
                         alt="甘梨">
                    <div class="caption">
                        <h4 class="text-center">甘犁</h4>
                        <p>美国加州大学伯克利分校统计学硕士、经济学博士，师从诺贝尔经济学奖获得者麦克法登教授。中国家庭金融、中国小微企业调查与研究领域的开拓者。
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-4">
                <div class="img-responsive thumbnail">
                    <img src="../img/team/tanjijun.jpg"
                         alt="谭继军">
                    <div class="caption">
                        <h4 class="text-center">谭继军</h4>
                        <p>美国德州大学奥斯汀分校经济学博士。四川省“千人计划”入选者、四川省特聘专家、中国家庭金融、中国小微企业调查与研究的领导者之一，汇金小微商学院执行院长。</p>

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="img-responsive thumbnail">
                    <img src="../img/team/zhouye.jpg"
                         alt="周晔">
                    <div class="caption">
                        <h4 class="text-center">周晔</h4>
                        <p>中欧国际工商学院EMBA、DBA候选人。<br>政协上海市徐汇区第十二届委员会委员。<br>中国网上支付领域的拓荒者，金融IT资深专家。</p>


                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

